@import "./util/chromium-scrollbars.scss";

* {
  // IMPORTANT! These rules will override inheritance.
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: 0 transparent solid;
  background: transparent;
}

:root {
  // For rules that we want to be able to inherit over, we only define them on
  // the root.
  background-color: var(--background);
  color: var(--foreground);
}

// Set default style for react-router-dom Links
a[href^="#"] {
  color: inherit;
}
